.aboutmaster-wrapper {
  position: relative;
  z-index: 5;
  background-color: #2b2f26;
  overflow: hidden;
}

.zeroone2 {
  font-family: 'Russo One', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 170px;
  line-height: 150px;
  opacity: 0.1;
}

.aboutmaster {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.image-box {
  display: flex;
  width: 50%;
  height: auto;
}
.master-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutmaster-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
  width: 50%;
}

.aboutmaster--title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutmaster-page {
  color: #a17b5c;
  font-family: 'Etude Noire Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(20px, 3vw, 30px);
  line-height: 100%;
}

.aboutmaster-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.masterelena {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(14px, 2vw, 20px);
  color: #ffffff;
}

.pricelist-wrapper {
  position: relative;
  background-color: #505445;
  z-index: 4;
}

.pricelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px 80px;
  gap: 50px;
}

.zeroone3 {
  font-family: 'Russo One', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 170px;
  line-height: 140px;
  opacity: 0.1;
}

.pricelist-subtitle {
  display: flex;
  width: 100%;
}

.pricelist-title-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.nothing {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.pricelist-title {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.pricelist-page {
  color: #a17b5c;
  font-family: 'Etude Noire Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(20px, 3vw, 30px);
  line-height: 100%;
}

.pricelist-underpage {
  color: #a17b5c;
  font-family: 'Etude Noire Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
}

.pricelist-info {
  font-family: 'Etude Noire Bold', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
}

.pricelist-paragraph {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.pricelist-p {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.review-wrapper {
  position: relative;
  background-color: #505445;
  z-index: 4;
}

.h-scroll-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 50px 0;
}

.zeroone1 {
  font-family: 'Russo One', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150px;
  line-height: 150px;
  opacity: 0.1;
}

.review-card {
  width: 35%;
  height: auto;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: start;
  align-items: center;
  border-radius: 40px;
  flex-shrink: 0;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  width: 100%;
  padding-bottom: 40px;
}

.finish-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
}

.finish-clothe {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.value-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.value-underpage {
  color: #a17b5c;
  font-family: 'Etude Noire Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
}

.cash {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.cash1 {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.reboot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.reboot-title {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.site-footer {
  background: #2b2f26;
  font-family: 'Inter', sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px 80px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-brand h3 {
  font-size: 20px;
  font-family: 'Etude Noire', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.footer-brand p {
  font-family: 'Etude Noire', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #af794d;
  font-size: 14px;
  opacity: 0.7;
}

.footer-info p {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 4px 0;
  font-size: 14px;
}

.footer-info a {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #af794d;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover {
  border-bottom-color: #fff;
}

.footer-copy {
  font-family: 'Etude Noire Light', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  font-size: 12px;
  opacity: 0.9;
}

/* word-color */

.words {
  color: #a17b5c;
}

.word {
  color: #a17b5c;
}

/* absolute text */

.content__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.content-under__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
/* horizont scroll */

.h-scroll-viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-size: 100%;
}

.h-scroll-section {
  width: 100%;
  overflow: hidden;
}

.h-scroll-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.h-scroll-track::-webkit-scrollbar {
  display: none;
}

.scroll-block-title {
  color: #a17b5c;
  font-family: 'Etude Noire', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(16px, 2vw, 24px);
}

.scroll-block-text {
  font-family:
    Etude Noire Light,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

/* MEDIA */
@media (max-width: 600px) {
  .footer-copy {
    text-align: left;
  }
}

@media (max-width: 1441px) {
  .whislowly {
    font-size: 25px;
  }
}


@media (max-width: 1100px) {
  .scroll-block-text {
    font-size: 12px;
  }

  .content-info {
    font-size: 18px;
  }

  .content-p {
    font-size: 14px;
  }

  .sub-text {
    font-size: 14px;
  }

  .content-sub-box {
    width: 35%;
    gap: 10px;
  }

  .content__img {
    width: 60%;
  }

  .masterelena {
    font-size: 16px;
  }

  .whoshelp-text {
    font-size: 16px;
  }

  .whatgift-text {
    font-size: 16px;
  }

  .whoshelp-img {
    width: 50%;
  }

  .zerotwo {
    font-size: 90px;
  }

  .aboutmaster-text {
    gap: 20px;
  }

  .pricelist-info {
    font-size: 20px;
  }

  .pricelist {
    gap: 30px;
  }

  .content__info {
    gap: 10px;
  }

  .reboot-title {
    font-size: 14px;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 20px 10px;
  }

  .copirate-title {
    font-size: 11px;
  }

  .copirate-text {
    font-size: 11px;
  }

  .scroll-block-title {
    font-size: 14px;
  }

  .scroll-block-text {
    font-size: 10px;
  }

  .hero__social-item {
    color: #e8a874;
  }

  .body_remember {
    font-size: 50px;
  }

  .under-one {
    font-size: 16px;
    color: #e8a874;
  }

  .words-list {
    font-family: 'Etude Noire Light';
    color: #e8a874;
  }

  .words {
    color: #e8a874;
  }

  .cause-text {
    font-size: 20px;
  }

  .list-text {
    font-size: 13px;
  }

  .zerotwo {
    font-size: 70px;
    line-height: 60px;
  }

  .whyslowquest {
    font-size: 20px;
  }

  .whislowly {
    font-size: 20px;
    color: #e8a874;
  }

  .whyslow {
    padding-top: 50px;
    gap: 20px;
  }

  .whyslow-reason-block {
    width: 70%;
  }

  .whyslow-text {
    font-size: 14px;
  }

  .words {
    color: #e8a874;
  }

  .content {
    padding-top: 70px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__info {
    width: 100%;
  }

  .content-title {
    font-size: 20px;
    color: #e8a874;
  }

  .sub-title {
    font-size: 20px;
    color: #e8a874;
  }

  .zeroone {
    font-size: 80px;
    line-height: 80px;
  }

  .content_sub-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .somatic-img {
    width: 60%;
  }

  .content-sub-box {
    width: 100%;
  }

  .content-button {
    color: #e8a874;
  }

  .hero-h2 {
    color: #e8a874;
  }

  .hero-button {
    color: #e8a874;
  }

  .whoshelp-block {
    width: 80%;
  }

  .whatgift-icon {
    width: 50%;
  }

  .whoshelp-icon {
    width: 50%;
  }

  .whatgift-text {
    width: 80%;
    font-size: 14px;
  }

  .whoshelp-text {
    font-size: 14px;
  }

  .helpgift {
    gap: 10px;
  }

  .section_help-wrapper {
    padding: 50px 10px;
  }

  .whoshelp-title {
    font-size: 20px;
    color: #e8a874;
  }

  .whatgift-quest {
    font-size: 20px;
    color: #e8a874;
  }

  .whatgift-upper {
    padding: 0;
  }

  .zeroone2 {
    font-size: 70px;
    line-height: 70px;
  }

  .aboutmaster {
    gap: 5px;
    padding-top: 50px;
  }

  .aboutmaster-page {
    font-size: 20px;
    color: #e8a874;
  }

  .masterelena {
    font-size: 14px;
  }

  .aboutmaster-wrapper {
    min-height: auto;
  }

  .aboutmaster-info {
    gap: 20px;
  }

  .zeroone3 {
    font-size: 70px;
    line-height: 70px;
  }

  .pricelist {
    gap: 20px;
    padding-top: 50px;
  }

  .pricelist-page {
    font-size: 20px;
    color: #e8a874;
  }

  .pricelist-info {
    font-size: 18px;
  }

  .pricelist-underpage {
    color: #e8a874;
  }

  .pricelist-p {
    font-size: 14px;
  }

  .zeroone1 {
    font-size: 90px;
    line-height: 70px;
  }

  .h-scroll-review {
    padding-top: 50px;
    gap: 20px;
  }

  .review-card {
    width: 45%;
    height: auto;
  }

  .value-title {
    padding-bottom: 10px;
  }

  .value-underpage {
    color: #e8a874;
  }

  .finish {
    padding-top: 0;
  }

  .cash {
    font-size: 14px;
  }

  .cash1 {
    font-size: 14px;
  }

  .footer-brand h3 {
    font-size: 14px;
  }

  .footer-brand p {
    font-size: 12px;
  }

  .footer-info p {
    font-size: 10px;
  }

  .footer-copy {
    font-size: 10px;
  }

  .reboot-title {
    font-size: 12px;
  }
}

@media (max-width: 746px) {
  .finish {
    align-items: start;
  }
}

@media (max-width: 700px) {
  .review-card {
    width: 70%;
  }

  .finish-price {
    align-items: start;
  }

  .finish-clothe {
    align-items: center;
  }

  .cash {
    font-size: 12px;
  }

  .cash1 {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .review-card {
    width: 90%;
  }

  .scroll-block-text {
    font-size: 8px;
  }

  .hero-h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .hero-text {
    font-size: 14px;
    opacity: 0.8;
  }

  .hero-button {
    font-size: 12px;
  }

  .header {
    margin-bottom: 20px;
  }

  .hero__social-item {
    font-size: 14px;
  }

  .scroll-somatics {
    width: 80%;
  }

  .line {
    width: 60px;
  }

  .body_remember {
    font-size: 40px;
    line-height: 70px;
    opacity: 0.3;
  }

  .under-block {
    padding-top: 50px;
    gap: 20px;
  }

  .under-section-one {
    gap: 20px;
  }

  .under-sectionone-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .under-section-two {
    display: flex;
    flex-direction: column;
  }

  .somatic-list {
    grid-template-columns: 1fr 2fr;
  }

  .somatic-text {
    font-size: 10px;
  }

  .zerotwo {
    font-size: 35px;
    line-height: 70px;
    opacity: 0.4;
  }

  .whyslow-reason-block {
    width: 100%;
  }

  .content__img {
    width: 70%;
    gap: 10px;
  }

  .somatic-img {
    width: 68%;
    border-radius: 40px;
  }

  .content_sub-info {
    padding: 0 10px;
  }

  .whoshelp-icon {
    display: none;
  }

  .whatgift {
    flex-direction: column-reverse;
  }

  .whoshelp-block {
    width: 100%;
  }

  .whatgift-text {
    width: 100%;
  }

  .whatgift-icon {
    justify-content: center;
    width: 70%;
  }

  .aboutmaster {
    flex-direction: column;
    padding-top: 60px;
  }

  .aboutmaster-info {
    width: 100%;
  }

  .image-box {
    width: 90%;
  }

  .zeroone2 {
    font-size: 50px;
  }

  .zeroone1 {
    font-size: 60px;
  }

  .cash {
    font-size: 10px;
  }

  .cash1 {
    font-size: 10px;
  }

  .footer-brand h3 {
    font-size: 10px;
  }

  .footer-brand p {
    font-size: 9px;
  }

  .footer-info p {
    font-size: 8px;
  }

  .footer-copy {
    font-size: 8px;
  }

  .reboot {
    align-items: start;
    gap: 10px;
  }

  .reboot-title {
    font-size: 9px;
  }
}

@media (max-width: 380px) {
  .zeroone {
    font-size: 70px;
  }

  .body_remember {
    font-size: 30px;
  }

  .copirate-title {
    font-size: 8px;
  }

  .copirate-text {
    font-size: 8px;
  }

  .pricelist-info {
    font-size: 16px;
  }

  .hero-h1 {
    font-size: 22px;
  }

  .hero {
    display: flex;
    justify-content: space-between;
  }

  .sub-title {
    font-size: 16px;
  }

  .whoshelp-title {
    font-size: 16px;
  }

  .whatgift-quest {
    font-size: 16px;
  }

  .content-title {
    font-size: 16px;
  }

  .whislowly {
    font-size: 16px;
  }

  .aboutmaster-page {
    font-size: 16px;
  }

  .pricelist-page {
    font-size: 16px;
  }

  .pricelist-underpage {
    font-size: 16px;
  }

  .value-underpage {
    font-size: 16px;
  }

  .zeroone2 {
    font-size: 40px;
  }
}
